/* General Styles */
.no-border:focus {
    outline: none;
    box-shadow: none;
}

#search-input::placeholder {
    color: #b2b7b9;
}

.bg-dark.text-white::placeholder {
    color: #b2b7b9;
}

#search-input.form-control:focus {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

/* Card Styles */
.custom-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    color: #dcdbdc;
}
.custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-actions {
    display: flex;
    gap: 15px;
    opacity: 0;
    transition: opacity 0.3s;
}
.custom-card:hover .card-actions {
    opacity: 1;
}
.card-actions i {
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}
.card-actions i:hover {
    transform: scale(1.2);
}
.completed-note .card-title,
.completed-note .card-text {
    text-decoration: line-through;
    color: grey;
}
.completed-note {
    background-color: #e0e0e0;
}

/* Note Container and Input Styles */
.note-input input,
.note-input textarea {
    border: none;
    background-color: transparent;
}
.note-input input:focus,
.note-input textarea:focus {
    border: none;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}
.note-title::placeholder,
#note-description::placeholder {
    font-weight: bold;
}
.note-title {
    display: none;
}
.expanded .note-title {
    display: block;
}
.expanded textarea {
    height: auto;
    resize: none;
}
.note-actions {
    display: none;
    justify-content: flex-end;
    gap: 0.5rem;
}
.expanded .note-actions {
    display: flex;
}

/* Masonry Styles */
.masonry {
    display: flex;
    margin-left: -1rem;
}
.masonry .masonry-item {
    margin-bottom: 1rem;
    padding-left: 1rem;
}

/* Color Picker Styles */
#color-picker {
    z-index: 1000;
}

.color-option {
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.color-option:hover {
    border: 2px solid #000;
}
